@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-display: swap;
  src: url(/fonts/iAWriterQuattroV.woff2) format('woff2');
}

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/iAWriterQuattroV-Italic.woff2) format('woff2');
}
