@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-display: swap;
  src: url(/fonts/iAWriterQuattroV.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/iAWriterQuattroV-Italic.ttf) format('truetype-variations');
}